@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);
@use '@coreui/chartjs/scss/coreui-chartjs';
@use 'vendors/simplebar';

body {
  background-color: var(--cui-tertiary-bg);
}
/* alerts.css */
.alert-fixed {
  position: fixed !important;
  top: 130px; /* Distancia desde la parte superior */
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%); /* Centrado perfecto */
  max-width: 400px; /* Ancho máximo */
  width: calc(100% - 40px);
  box-sizing: border-box;
  font-size: 14px; /* Tamaño de fuente */
  padding: 10px; /* Espaciado interno */
  margin: 0; /* Evita márgenes que empujen el layout */
  z-index: 3050; /* Coloca la alerta por encima del resto */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  opacity: 0.98;
  pointer-events: auto;
}
.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding 0.15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }

  &-content {
    margin: auto;
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.space-component {
  margin-bottom: 1.5rem;
}
